body{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    
    

}

.navbar-container{
    display:flex;
    align-items: center;
    justify-content: space-around;
    height:15vh;

}

.grow-list{
    display:flex;
    justify-content: space-between;
    
}

.list{
    display:flex;
    list-style-type: none;
    align-items: center;
    
}

.list-item{
    font-size:20px;
    margin-right: 20px;
    color:rgb(153, 143, 129);


}

.nav-button{
    padding :10px 20px;
    background-color: rgb(96, 96, 231);
    border-radius:7px;
    border-style:none;
    color:white;
    position:absolute;
    z-index: 2;

}

.banner-container{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-left: 8%;
    height:70vh;

}


.heading-text{
    font-size: 58px;
    position: relative;
    top:20px;

}

.description{
    color:rgb(153, 143, 129);
}

.heading-text{
    color:#4b4b88;
}

span{
    color:#6060e7
}